@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(26, 25, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: white;
}

.screen {
  cursor: pointer;
  width: 70%;
  background-color: black !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background: rgb(59, 58, 58);
  color: white;
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .progress {
  width: 100%;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: rgb(6, 145, 6);
}

.controls .fa-stop {
  color: rgb(172, 32, 32);
}

.controls .fa-pause {
  color: white;
}

.controls .timestamp {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus {
  outline: 0;
}

h2 {
  color: white;
}

@media(max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
